<%= form_for @school do |f|%>

    <label> School Class </label><br>
    <%= f.text_field :title %><br>
    
    <label> School Classroom </label><br>
    <%= f.text_field  :room_number %><br>
    
    <%= f.submit %>
    <% end %> 